doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	title Hello
body
	#root
	script(src='https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.production.min.js' integrity='sha256-sod0B3XJTRVbAerid4s8hYXjpxqYmLtpP6u1BPiZ39g=' crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.production.min.js' integrity='sha256-qs6rudGhxPMv2Vq2QyYh/DTn05Ve8xUn6WmBcav16Zg=' crossorigin='anonymous')
